
.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.make-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.textify {
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
}