.make-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.make-ball {
    width: 0;
    height: 0;
    border: 30px solid gold;
    border-radius: 30px;
}

.make-ball2 {
    width: 0;
    height: 0;
    border: 30px solid tomato;
    border-radius: 30px;
}

@keyframes ballframe {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes balltranslate {
    0% {
        transform: translateX(10px)
    }

    10% {
        transform: translateX(25px)
    }

    20% {
        transform: translateX(50px)
    }

    50%{
        transform: translateX(100px)
    }

    70%{
        transform: translateX(50px)
    }

    90%{
        transform: translateX(25px)
    }

    100%{
        transform: translateX(0px)
    }
}
