.make-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textify{
    font-size: 25px;
    font-family: cursive;
    font-weight: bolder;
}